.name {
    font-size: 24px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 5vw;
    font-size: 20px;
}

.nav-connect{
    padding: 20px 40px;
    border-radius: 50px;
    background: linear-gradient(267deg, #DA7C25 0.36%, #B923E1 102.06%);
    font-size: 22px;
    cursor: pointer;
    transition: 0.5s;
    margin-right: 50px;
}

.logo {
    font-size: 40px;
    margin-left: 50px;
}

.nav-connect:hover{
    transform: scale(1.05)
}